{% extends "base.html" %}
{% set active_page = "forms" %}

{% block title %}Two Forms{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-4">
            <div class="card panel-primary" style="padding: 4px; margin: 4px;">
                <div class="card-body">
                    <h5 class="card-title">Добавление поверки по т.н.</h5>
                    <form class="forml-primary" action="/checkout" method="post">
                        <div class="col">
                            <label for="tn">Tabnum:</label>
                            <input class="form-control form-control-sm" type="text" name="checkout_tn" id="checkout_tn"
                                   value=""
                                   required/>
                        </div>
                        <input type="submit" class="btn btn-secondary" value="Отправить">
                    </form>
                </div>
            </div>
            <div class="card panel-primary" style="padding: 4px; margin: 4px;">
                <h5 class="card-title">Периоды поверки по т.н.</h5>
                <div class="card-body">
                    <form action="/form1" method="post">
                        <div class="col">
                            <label for="tn">Tabnum:</label>
                            <input class="form-control form-control-sm" type="text" name="tabnum" id="tn"
                                   value=""
                                   required/>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Найти" onclick="process()">
                    </form>
                </div>
            </div>
            <div class="card panel-primary" style="padding: 4px; margin: 4px;">
                <h5 class="card-title">Добавление машиниста в БД</h5>
                <div class="card-body">
                    <form class="form" action="/form2" method="post">
                        <label for="tn1">Таб. номер:</label>
                        <input class="form-control form-control-sm" type="text" name="tabnum" id="tn1" value=""
                               required/>
                        <label for="col">Колонна:</label>
                        <input class="form-control form-control-sm" type="text" name="column" id="col" value=""
                               required/>
                        <label for="ln">Фамилия:</label>
                        <input class="form-control form-control-sm" type="text" name="lname" id="ln" value=""
                               required/>
                        <label for="fn">Имя:</label>
                        <input class="form-control form-control-sm" type="text" name="fname" id="fn" value=""
                               required/>
                        <label for="pn">Отчество:</label>
                        <input class="form-control form-control-sm" type="text" name="pname" id="pn" value=""
                               required/>
                        <input class="btn btn-danger" type="submit" value="Добавить">
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="row">
                {% if mash %}
                <div class="alert alert-primary" role="alert">
                    <p align="center"> Пользователь успешно создан.
                    </p>
                </div>
                {% endif %}
                {% if checkout %}
                <div class="alert alert-primary" role="alert">
                    <p align="center">
                        Данные приняты
                    </p>
                </div>
                <script>
                    setTimeout(function(){
                          window.location.href = '/forms';
                        }, 5 * 1000);
                    console.log('redirect ok');
                </script>
                {% endif %}
            </div>
            <div class="row">
                {% if data %}
                <p align="center" id="content">Сроки поверки ТСКБМ для {{ data.lname }} {{ data.fname }} {{data.pname
                    }}: таб. № {{
                    data.tabnum }}, Колонна: {{
                    data.column }}</p>
                <table class="table table-divider">
                    <caption><p><b>Итого: {{ data["times"].__len__() }} </b></p>
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col">Дата поверки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for value in data["times"] %}
                    <tr>
                        <td>{{ value["checkout_time" ]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p onclick="doFunction();">Back</p>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
