{% extends "base.html" %}
{% set active_page = "forms" %}

{% block title %}Two Forms{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% if data %}
<p><b>{{ data.lname }} {{ data.fname }} {{data.pname }}: таб. № {{ data.tabnum }}, Колонна: {{ data.column }} </b></p>
<ul>
    {% for value in data["times"] %}
    <li><b>{{ value["checkout_time" ]}}</b></li>
    {% endfor %}
</ul>
<p onclick="doFunction();">Back</p>

{% endif %}
<div class="container">
    <div class="row mb-3">
        <h4>Периоды поверки по т.н.</h4>
        <form action="/form1" method="post">
            <div class="col-sm-10">
            <label for="tn">Tabnum:</label>
            <input class="form-control form-control-sm" type="text" name="tabnum" id="tn" value="" required/>
            </div>
            <input type="submit" class="examplebtn" value="Найти" onclick="process()">
        </form>
    </div>
</div>
{% if mash %}
<br>
<div> Пользователь успешно создан.</div>
{% endif %}
<div class="container">
    <h4>Добавление машиниста в БД</h4>
    <form action="/form2" method="post">
        <label for="tn1">Таб. номер:</label>
        <input class="form-control form-control-sm" type="text" name="tabnum" id="tn1" value="" required/>
        <label class="form-control form-control-sm" for="col">Колонна:</label>
        <input class="form-control form-control-sm" type="text" name="column" id="col" value="" required/>
        <label for="ln">Фамилия:</label>
        <input class="form-control form-control-sm" type="text" name="lname" id="ln" value="" required/>
        <label class="form-control form-control-sm" for="fn">Имя:</label>
        <input class="form-control form-control-sm" type="text" name="fname" id="fn" value="" required/>
        <label for="pn">Отчество:</label>
        <input class="form-control form-control-sm" type="text" name="pname" id="pn" value="" required/>
        <input class="form-control form-control-sm" type="submit" value="Добавить">
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}