{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
tskbm
{% endblock %}

{% block content %}
<div class="container mt-3">
<h1 class="display-5">
    Приложение учета носимых частей ТСКБМ
</h1>
<p id="content">Список машинистов</p>
<table class="table table-divider">
  <caption>My Table</caption>
  <thead>
    <tr>
      <th scope="col">Таб. номер</th>
      <th scope="col">Колонна</th>
      <th scope="col">Посл. пров.</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
    </tr>
  </thead>
<tbody>
{% for item in data %}
    <tr>
        <td>{{ item.tabnum }}</td>
        <td>{{ item.column }}</td>
        <td>{{ item.last_checkout }}</td>
        <td>{{ item.lname }}</td>
        <td>{{ item.fname }}</td>
        <td>{{item.pname }}</td>
    </tr>
    {% for value in data["times"] %}
    <tr>
        <td colspan="5">{{ value["checkout_time"] }}</td>
    </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
<p>Total: {{ data.__len__() }}</p>

<div><p>extra data: {{ extra }}</p></div>
{% endblock %}
</div>