{% extends "base.html" %}
{% set active_page = "forms" %}

{% block title %}Two Forms{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid" style=display:grid>
  <div class="grid text-center">
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
